/* HOME */
.home {
    padding: 140px 0;
}

.home .welcome {
    margin-bottom: -15px;
    font-size: 3.5rem !important;
}

.home .info .title {
    margin-bottom: -2px;
}

.home .welcome,
.home .title {
    text-shadow: 0px 4px 2px rgb(0, 0, 0);
}