/* HOME */
.home {
    padding: 140px 0;
    background-color: rgba(58, 39, 39, 0.719);
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.596);
}

.welcome {
    font-size: 3.5rem !important;
    margin-bottom: -15px;
}

.home .info .title {
    margin-bottom: -2px;
}