/* HOME */
.home {
    padding: 140px 0;
}

.home .welcome {
    margin-bottom: -15px;
    font-size: 3.5rem !important;
}

.home .info .title {
    margin-bottom: -2px;
}

.home .welcome,
.home .title {
    text-shadow: 0px 4px 2px rgb(0, 0, 0);
}

@media (max-width: 1400px){ 

    .page {
        min-height: 0;
    }

    .home {
        margin: 0;
        padding: 0;
    }

    .home .welcome {
        font-size: 3rem !important;
        margin-bottom: 20px;
    }

    .en {
        display: none;
    }

    .ghost {
        display: none;
    }.ghost2 {
        margin-top: -23px;
    }
}