#gift .row .col-6 img {
    min-width: 100%;
    opacity: .7;
}

#gift .card-title {
    margin-top: -10%;
}

#gift .logo .the {
    font-size: 1.5rem !important;
}

#gift .logo .name {
    font-size: 3.3rem;
    letter-spacing: -3px;
}

#gift .logo .tag {
    margin-top: -1rem;
    margin-bottom: -2rem;
    font-size: 2rem !important;
}

#gift .info {
    color: rgba(0, 0, 0, 0.568);
    height: 75px;
}
#gift .price {
    position: absolute;
    top: 0px;
    right: 10px;
}

#gift .price h1 {
    font-size: 2rem;
}

#gift .tickets {
    position: absolute;
    bottom: 0;
    font-size: 12px;
}

@media screen and (max-width: 1399px) {

    #gift .info {
        margin-top: -240px;
    }
}

@media screen and (max-width: 991px) {

    /* #gift-card .card {
        width: 300px !important;
        min-width: 300px !important;
    } */

}