#gift .row .col-6 img {
    min-width: 100%;
    opacity: .7;
}

#gift .card-title {
    margin-top: -25%;
}

#gift .logo .the {
    font-size: 1.5rem !important;
}

#gift .logo .name {
    font-size: 3.7rem;
    letter-spacing: -3px;
}

#gift .logo .tag {
    margin-top: -1rem;
    margin-bottom: -2rem;
    font-size: 2rem !important;
}

#gift .info {
    color: rgba(0, 0, 0, 0.568);
    height: 75px;
}


@media screen and (max-width: 1399px) {
    
    .tickets {
        padding-top: 40px;
    }

    #gift .info {
        margin-top: -250px;
    }
}