:root {
    --main-bg-color: rgb(168, 0, 0);
    --secondary-bg-color: rgb(153, 141, 115);
    --tri-bg-color: rgb(124, 50, 54);
    --quad-bg-color: rgb(250, 93, 93);
    --quad-bg-color-o: rgba(252, 103, 103, 0.849);
    --quin-bg-color: rgb(173, 59, 59);
    --quin-bg-color-o: rgba(156, 68, 68, 0.767);
    --ses-bg-color: rgb(124, 13, 13);
    --ses-bg-color-o: rgba(59, 0, 0, 0.671);
    --sept-bg-color: rgb(199, 25, 25);
    --sept-bg-color-o: rgba(160, 15, 15, 0.555);
    --oct-bg-color: rgb(39, 20, 20);
    --oct-bg-color-o: rgba(39, 20, 20, 0.788);
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

body {
    background-color: rgb(165, 43, 43);
    margin: 0;
    padding: 0;
    color: black;
    font-family: "'Montserrat', sans-serif"; 
    font-weight: thin;
    z-index: -99999;
}

.container-fluid,
.row,
.col {
    margin: 0;
    padding: 0;
}

.bg-color1 {
    background-color: var(--main-bg-color);
}
.bg-color2 {
    background-color: var(--secondary-bg-color);
}
.bg-color3 {
    background-color: var(--tri-bg-color);
}
.bg-color4 {
    background-color: var(--quad-bg-color);
}
.bg-color5 {
    background-color: var(--quin-bg-color);
}
.bg-color6 {
    background-color: var(--ses-bg-color);
}
.bg-color7 {
    background-color: var(--sept-bg-color);
}
.bg-color8 {
    background-color: var(--oct-bg-color);
}

.text-color1 {
    color: var(--main-bg-color);
}

.glow {
    text-shadow: 2px 0 4px var(--main-bg-color);
}

.page {
    min-height: 100vh;
}